
.van{
   
    background-color: rgb(253, 130, 130);
    
    
}
h2{text-align: center;
    color: black;

}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.card-text{
    overflow: auto;
   
    max-height: 500px;
    color: black
    
}
.card-img-top{
    height: 300px;
}
.card-body{
    background-color: white;
    color: black;
}
.card-title{
    color: black;
}